@(user: models.users.User)

<!-- Pass page title and content {html between braces} to the main view -->
@main("Home", user) {
  <!-- HTML content for the index view -->
  <div class="row">
      <div class="col-sm-12">
        <div class="well">
          
        </div>
      </div>
  </div>
  <!-- End of content for main -->
}

